// Loop through genre map to style movie genres dynamically
@each $genre, $color in $genres-colors {
    .genre-#{$genre} {
      background-color: $color;
      padding: 5px;
      border-radius: 3px;
    }
  }