// Colors
$primary-color: #ff5733;
$secondary-color: #333;
$text-color: #fff;
$button-color: #00bcd4;

// Font Sizes
$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;

// Maps for movie genres
$genres-colors: (
  action: #ff5733,
  comedy: #00bcd4,
  drama: #8e44ad,
  horror: #c0392b
);